<h1>Categories</h1>
<% @categories.each do |category|%>
  <div>
    <%= category.name%>
    <p><%= category.photos.size%> photos</p>
    <p><%= category.description%> photos</p>
  </div>
  <%link_to ""Destroy", %>
<% end %>
