<h1 class="head-bs semibold text-gray-500 py-1 px-1">SEARCH</h1>
<%= form_with url: "/search", method: :get do |form| %>
 <div class="input-container shadow-xs px-1"> <%= form.text_field :query, placeholder: "search", class: "input" %> </div>
 <div class="buttons_edit_category py-1 flex flex-column px-1 botton-flex"> 
  <%=form.submit "SEARCH PHOTOS", class: "button button--default button--sm bg-gray text-white overline-bs"%>
  </div>
<% end %>