.footer {
    background-color: var(--gray-600);
  }
  
  .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0;
  }