<h1 class="head-bs semibold text-gray-500 py-1 px-1 ml-1" class="head-bs semibold text-gray-500 py-1 px-1">New Category</h1>
<div class = "form_category">
  <%= render "form", category: @category %>
</div>
